.header{
	position: sticky;
	top: 0;
	z-index: 5;
	width: 100%;
	padding: 10px;
	background: white;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.07);
}
.header .container{
	position: relative;
}
.logo{
	font-family: sanMateo;
	font-size: 1.5rem;
}
.setGoal{
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 1.5rem;
	font-family: sanMateo;
}