@font-face {
	font-family: sanMateo;
	src: url(../font/sanmateo.ttf);
}
.correct{
	color: green;
}
.incorrect{
	color: red;
	text-decoration: underline;
}
@media(max-width: 1200px){
}
@media(max-width: 992px){
}
@media(max-width: 768px){
}
@media(max-width: 540px){
}
@media(max-height: 540px){
}